a {
  text-decoration: none;
}
a:hover {
  color: #000;
}

.hidden {
  display: none;
}

.menu-button {
  display: none;
}

.menu-div {
  float: right;
  margin-right: 10%;

  /* profile-pic */
}

.profile {
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
}

#profile__img {
  transition: 0.5s ease;
  height: 9.5rem;
}

.profile-name {
  padding-bottom: 1.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #101828;
}

.link-boxes a {
  margin-bottom: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #101828;
  display: block;
  width: 100%;
  cursor: pointer;
  align-items: center;
  text-align: center;
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  padding: 23px 0;
}

.link-boxes a:hover {
  background: #c8ccd3;
  border: 1px solid #eaecf0;
}
.socials-div {
  margin-top: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}

.socials img {
  height: 2rem;
  margin: 0 0.3rem;
}

.footer-div {  padding: 0rem 7%;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ededed;
  padding: 2rem 3rem;
}

.copy {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;

  color: #667085;
}
.profile-picture {
  position: relative;
  display: inline;
}
#profile__img:hover {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.middle img {
  height: 1.8rem;
}
.middle {
  display: inline;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 90%);
  -ms-transform: translate(-50%, 90%);
  text-align: center;
}
.profile-picture:hover .middle {
  opacity: 1;
}
.con{
  margin-top: 2rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 900px) {
  .menu-div {
    float: right;
    margin-right: 1%;
  }
}

@media only screen and (max-width: 500px) {
  .menu-button {
    display: block;
  }

  .footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-top: 1px solid #ededed;
    padding: 0;
    margin: 2rem 0 2rem 0;
  }

  .copy {
    text-align: left;
  }

  .footer img {
    height: 2rem;
    text-align: left;
    margin: 1rem 0;
  }

  #profile__img {
    height: 5.5rem;
  }

  .share-button {
    display: none;
  }
}



/* FORM */
label {
  padding-top: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  font-size: 16px;
  color: #344054;
}

input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #a0b3b0;}

.button {
  outline: none;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  height: 48px;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  margin-top: 15px;
}
@media only screen and (max-width: 500px) {
  .rows {
    flex-direction: column;
  }
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
   border: 2px solid #a0b3b0;
  resize: vertical;
}

form {
  margin: 50px 0;
  max-width: 768px;
  margin: 60px auto 180px auto; 
}
.lastN {
  float: right;
  width: 50%;
}

input[type='text'],
[type='email'],
select,
textarea {
  font-size: 1em;
  border-radius: 5px;
  padding: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  padding: 0.875 0 0.875em 0;
  width: 100%;
}

.message {
  float: none;
}

.name {
  float: left;
  width: 45%;
}


textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}
.check {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 0;
  margin: 0;
}
.check-box {
  width: 20px;
  margin-right: 10px;
  padding: 15px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.message-label {
  position: relative;
  top: -1.6px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}
.header-contact h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */
  letter-spacing: -0.02em;
  /* Gray/900 */
  color: #101828;
}
.header-contact p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
}
@media screen and (max-width: 750px) {
  input[type='text'],
  [type='email'],
  select,
  textarea {
    font-size: 0.875em;
  }
  .name {
    float: none;
    width: 100%;
  }
  .lastN {
    float: none;
    width: 100%;
  }
}
