.container {
  padding: 2.5rem 10%;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.menu-button {
  display: none;
}

.menu-div {
  float: right;
  margin-right: 10%;

  /* profile-pic */
}

.profile {
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
}

#profile__img {
   transition: .5s ease;
  height: 9.5rem;
}

.profile-name {
  padding-bottom: 1.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #101828;
}


.link-boxes a {
  margin-bottom: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #101828;
  display: block;
  width: 100%;
  cursor: pointer;
  align-items: center;
  text-align: center;
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  padding: 23px 0;
}

.link-boxes a:hover {
  background: #c8ccd3;
  border: 1px solid #eaecf0;
}
/* subtext */
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 50%;
  background-color: #797f89;
  color: rgb(237, 237, 237);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
 top: -5px;
  left: 60%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.socials-div {
  margin-top: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}

.socials img {
  height: 2rem;
  margin: 0 0.3rem;
}

.footer-div {
  padding: 0rem 7%;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ededed;
  padding: 2rem 3rem;
}

.copy {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;

  color: #667085;
}
.profile-picture{
  position: relative;
  display: inline;
  
}
#profile__img:hover{
  -webkit-filter: brightness(.5);
   filter: brightness(.5);
}


.middle img{

  height: 1.8rem;
}
.middle {
    display: inline;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  text-align: center;
}
.profile-picture:hover .middle {
  opacity: 1;
  
}


@media only screen and (max-width: 900px) {
  .menu-div {
    float: right;
    margin-right: 1%;
  }

  .container {
    padding: 2.5rem 10%;
  }
}

@media only screen and (max-width: 500px) {
  .menu-button {
    display: block;
  }

  .footer {
    display: flex;
    justify-content: start;
    flex-direction: column;
    border-top: 1px solid #ededed;
    padding: 2rem 0rem;
  }

  .copy {
    text-align: left;
  }

  .footer img {
    height: 2rem;
    text-align: left;
    padding: 1rem 0;
  }

  #profile__img {
    height: 5.5rem;
  }

  .share-button {
    display: none;
  }

  .container {
    padding: 2.5rem 5%;
  }
}

/* FORM */


.form {
color: #101828;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(239, 241, 242, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
}
.tab-group .active a {

}

h1 {
  text-align: center;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
